$color__accent: #915CE5;
$color__accent-hover: #B98DFF;
$color__accent-active: #5D32A2;
$color__white: #F8F8F8;
$color__dark: #212026;

$focus-outline__accent: 0 0 0 3px rgba(145, 92, 229, 0.7);

%paragraph {

}