@import "../../config/vars";
@import "../../mixins/utilities";

.front-feedback {
  display: flex;
  &__flex {
    flex: 1 1 100%;
  }
  &__flex-info {
    position: relative;
  }
  &__background {
    @include background-with-picture
  }
  &__background-img {
    @include background-with-picture-image
  }
  &__content {
    position: relative;
    padding: 130px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__title {
    font-weight: 700;
    font-size: 6rem;
  }
  &__description {
    margin-top: 25px;
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px
  }
  &__link {
    font-size: 3.6rem;
    line-height: 4.9rem;
    font-weight: 700;
  }
  &__telegram:after {
    content: '';
    display: inline-block;
    width: 80px;
    height: 66px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23FFFFFF" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512"%3E%3Cpath d="m9.417 15.181-.397 5.584c.568 0 .814-.244 1.109-.537l2.663-2.545 5.518 4.041c1.012.564 1.725.267 1.998-.931l3.622-16.972.001-.001c.321-1.496-.541-2.081-1.527-1.714l-21.29 8.151c-1.453.564-1.431 1.374-.247 1.741l5.443 1.693 12.643-7.911c.595-.394 1.136-.176.691.218z"/%3E%3C/svg%3E');
  }
}